@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main{
  width: 330px;
  margin: 150px auto;
}

.left-part{
  width:130px;
  margin-right: 20px;
}

.board-wrapper{
  flex-wrap: wrap;
  margin-top:20px;
}

.square{
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.step-list-wrapper{
  margin-top: 5px;
}